*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.icon-box-container{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 0;   
}

.block{
    position: relative;
    width: 80px;
    height: 80px;
    background-color: red;
    margin: 12px; 
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.first-block{
    animation-name: first-block;
}

@keyframes first-block {
    0%{
       transform: translateX(-1000px); 
       border-radius:  0 0 0 50px;
    }
    25%{
        border-radius: 0 0 50px 50px;
    }
    50%{
        transform: translateX(0);
        border-radius: 50px 0 50px 50px;
    }
    75%{
        transform: rotate(-45deg);
        transform-origin: bottom left;
        border-right: 50px 50px 50px 50px;
    }
    100%{
        transform: rotate(-45deg) translateX(50px);
    }
}

.second-block{
    animation-name: second-block;
}

@keyframes second-block {
    0%{
       transform: translateY(-1000px); 
       border-radius:  0 0 0 50px;
    }
    25%{
        border-radius: 0 0 50px 50px;
    }
    50%{
        transform: translateY(50px);
        border-radius: 50px 0 50px 50px;
    }
    75%{
        transform: translateY(-120px);
        border-right: 50px 50px 50px 50px;
    }
    100%{
        transform: translateY(-100px) rotate(-45deg);
    }
}

.third-block{
    animation-name: third-block;
    animation-timing-function: ease-out;
}

@keyframes third-block {
    0%{
       transform: translateX(1000px);
        border-radius:  0 0 0 50px;
    }
    25%{
        border-radius: 0 0 50px 50px;
    }
    50%{
        transform: translateX(0);
        border-radius: 0 50px 50px 50px;
    }
    75%{
        transform: rotate(45deg);
        transform-origin: bottom right;
        border-right: 50px 50px 50px 50px;
    }
    100%{
        transform: rotate(45deg) translateX(-50px);
    } 
    
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: text-container 2s forwards;
    position: relative;
    color: rgb(65, 62, 62);
}

.text-container > h1{
    letter-spacing: 2px;
    font-size: 2.5rem;
    font-weight: 900;
    transition: transform 1s;
}
.text-container > h3{
    letter-spacing: 10px;
    font-size: 0.7rem;
    font-weight: 500;
}
@keyframes text-container {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(-9rem); 
    }
}
.text-container>h1:hover{
    transform: rotateY(180deg);
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fill, min(350px, 400px));
    gap: 1.2rem;
    justify-content: center;
    animation: tanimateSection 1.5s .5s;
}

section{
    position: relative;
    min-width: 60%;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #333;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition: transform 2s;
}
section > h2{
    text-align: center;
}

section:hover{
    transform: translateY(-3rem) 
}

@keyframes tanimateSection {
    0%{transform: translateY(0)}
    50%{
        transform: translateY(-3.5rem)
    }
    100%{
        transform: translateY(0)
    }
}
